*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}

header{
    background: lightblue;
    height: 8vh;
    background: #145;
    width: 100%;
    position: relative;
}

header .brand{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    letter-spacing: 10px;
    line-height: 100%;
}

header nav{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
    width: 200px;
}

.navbar-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.dropdown{
    /* z-index: 100; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100%;
    align-items: center;
    list-style: none;
    background: whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    transform: scale(0);
}

.dropdown-item{
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.dropdown-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dropdown-button:hover ~ .dropdown{
    transform: scale(1);
}

.dropdown:hover{
    transform: scale(1);
}

main{
    width: 1200px;
    margin: auto;
    position: relative;
    height: 92vh
}

.videos{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.videos .video{
    display: flex;
    align-items: center;
    height: 250px;
    /* z-index: -1; */
    background: whitesmoke;
    border-radius: 10px;
    margin: 10px 0;
}

.videos .video .thumbnail {
    margin-left: 25px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.videos .video .video-body{
    height: 250px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 25px;
}

.videos .video .video-body .video-title{
    font-size: 24px;
    top: 25px;
    left: 25px;
    text-decoration: none;
    color: black;
}

.videos .video .video-body .video-creator{
    font-size: 12px;
    text-decoration: none;
    color: rgb(105, 105, 105);
    left: 30px;
    top:60px;
}

.videos .video .video-body .video-description{
    font-size: 12px;
    margin-top: 20px;
    color: rgb(53, 53, 53);
    padding: 0 20px 0 0;
}

.box{
    position: absolute;
    background: whitesmoke;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box .heading {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    font-weight: 700;
}

.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input[type=text], input[type=email], input[type=password]{
    width: 300px;
    margin: 10px 0;
    background: transparent ;
    border-radius: 2px;
    padding: 10px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 13px;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.form input[type=text]:focus,input[type=email]:focus, input[type=password]:focus{
    background: transparent;
}

.form input[type=submit]{
    width: 300px;
    margin: 20px 0;
    height: 40px;
    background: #145;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.form input[type=submit]:focus{
    outline: none !important;
}

.box .or{
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(94, 94, 94);
}

.box .or::before{
    content: '- ';
}

.box .or::after{
    content: ' -';
}

.box .goto{
    text-decoration: none;
    line-height: 40px;
    width: 300px;
    text-align: center;
    color: white;
    background: rgb(48, 147, 180);
    font-size: 14px;
    margin-bottom: 40px;
}

.videoplayer{

}

.videoplayer .videoplayer-title{
    font-size: 28px;
    padding: 10px 0 0 5px;
}

.videoplayer .videoplayer-creator {
    font-size: 14px;
    color: rgb(80, 80, 80);
    padding: 5px 0 0 5px;
}

.upload-form{
    display: flex;
    flex-direction: column;
}

.heading{
    font-size: 24px;
    margin-top: 50px;
}

.upload-form input[type=text],textarea{
    margin: 20px 0;
    height: 40px;
    padding-left: 10px;
}

.upload-form input[type=file]{
    margin-bottom: 20px;
}

.upload-form button{
    height: 40px;
    background: #145;
    border: none;
    color: white;
}

.profile-form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.profile-form .form-group label{
    display: inline-block;
    width: 100px;
}

.profile-form .form-group input{
    height: 40px;
    width: 300px;
    border: 1px solid #145;
    padding-left: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.profile-form button {
    height: 40px;
    border: none;
    background: #145;
    color: white;
    margin: 10px 0;
    width: 400px;
    cursor: pointer;
}