{% extends 'videofeed/base.html' %}


{% block main %}
    <form class="profile-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="surajboniwal">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="surajboniwal18@gmail.com">
        </div>
        <button type="submit">Update profile</button>
    </form>
{% endblock main %}