{% extends 'videofeed/base.html' %}


{% block main %}
    <section class="videos">
        <h2>Your Videos</h2>
        <div class="video">
            <img src="https://source.unsplash.com/random/200x200" class="thumbnail">
            <div class="video-body">
                <a href="#" class="video-title">This is Video Title</a>
                <a href="#" class="video-creator">Suraj Boniwal on 29 April 2000</a>
                <p class="video-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem voluptate optio iste facere libero sed beatae, cum similique, deleniti molestiae repellat, cumque perferendis modi quam perspiciatis iusto harum? Est minus eos dignissimos dicta beatae alias repudiandae, impedit quasi dolor delectus, exercitationem quia, neque itaque veritatis numquam tempore voluptatum illum quisquam.</p>
            </div>
        </div>

        
        <div class="video">
                <img src="https://source.unsplash.com/random/200x200" class="thumbnail">
                <div class="video-body">
                    <a href="#" class="video-title">This is Video Title</a>
                    <a href="#" class="video-creator">Suraj Boniwal on 29 April 2000</a>
                    <p class="video-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem voluptate optio iste facere libero sed beatae, cum similique, deleniti molestiae repellat, cumque perferendis modi quam perspiciatis iusto harum? Est minus eos dignissimos dicta beatae alias repudiandae, impedit quasi dolor delectus, exercitationem quia, neque itaque veritatis numquam tempore voluptatum illum quisquam.</p>
                </div>
            </div>

            
        <div class="video">
                <img src="https://source.unsplash.com/random/200x200" class="thumbnail">
                <div class="video-body">
                    <a href="#" class="video-title">This is Video Title</a>
                    <a href="#" class="video-creator">Suraj Boniwal on 29 April 2000</a>
                    <p class="video-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem voluptate optio iste facere libero sed beatae, cum similique, deleniti molestiae repellat, cumque perferendis modi quam perspiciatis iusto harum? Est minus eos dignissimos dicta beatae alias repudiandae, impedit quasi dolor delectus, exercitationem quia, neque itaque veritatis numquam tempore voluptatum illum quisquam.</p>
                </div>
            </div>

            
        <div class="video">
                <img src="https://source.unsplash.com/random/200x200" class="thumbnail">
                <div class="video-body">
                    <a href="#" class="video-title">This is Video Title</a>
                    <a href="#" class="video-creator">Suraj Boniwal on 29 April 2000</a>
                    <p class="video-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem voluptate optio iste facere libero sed beatae, cum similique, deleniti molestiae repellat, cumque perferendis modi quam perspiciatis iusto harum? Est minus eos dignissimos dicta beatae alias repudiandae, impedit quasi dolor delectus, exercitationem quia, neque itaque veritatis numquam tempore voluptatum illum quisquam.</p>
                </div>
            </div>
        
    </section>
{% endblock main %}